.main{
    height: 2000px;
    width: 1500px;
   background-color: gray;
    background-size: cover;
}
.class1{
   color: purple;
    background: white;
    text-align: center;
    border: 6px solid red;
    border-radius: 20px;
    display:inline-block;
    height: 170px;
    width: 400px;
    margin-left: 550px;
    margin-top: 20px;
    text-shadow: 1px 1px 3px rgb(125, 11, 11);
    box-shadow: 5px 5px 1px purple;

}
#div{
    border: 7px solid green;
    border-radius: 4px;
    display:inline-block;
    /* flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; */
    height: 900px;
    width: 1450px;
}
.class2{
   color: rgb(52, 4, 97);
    background: white;
    text-align: center;
    border: 5px solid red;
    border-radius: 15px;
    display: inline-block;
    height: 150px;
    width: 270px;
    box-shadow: 5px 5px 1px purple;
    text-shadow: 1px 1px 3px red;

}
.class3 img{
    height: 100%;
    width: 100%;
}
.class3{
    background: white;
    border: 5px solid red;
    border-radius: 15px;
    display:inline-block;
    height: 150px;
    width: 270px;
    margin-left: 877px;
    margin-top: 130px;
    box-shadow: 5px 5px 1px purple;
}
.class4{
    color: rgb(52, 4, 97);
    background: white;
    border: 5px solid red;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    height: 250px;
    width: 270px;
    margin-top: 200px;
    box-shadow: 5px 5px 1px purple;
    text-shadow: 1px 1px 3px red;
}
.class5{
    color: rgb(52, 4, 97);
    background: white;
    border: 5px solid red;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    height: 250px;
    width: 270px;
    margin-left: 877px;
    margin-bottom: 130px;
   box-shadow: 5px 5px 1px purple;
    text-shadow: 1px 1px 3px red;
}
.class5 input[type="submit"]{
    color: black;
    background-color: red;
    border-radius: 10px;
    border: 2px solid black;
}

#div1{
    background-color: green;
    border: 7px solid blueviolet;
    border-radius: 10px;
    height: 700px;
    width: 900px;
    display: block;
    margin-top: 50px;
    margin-left: 300px;
}
.class6{
    color: black;
    text-align: center;
}
.class7{
    display: inline-block;
    color: black;
    background-color: rgb(215, 222, 20);
    text-align: center;
    height: 300PX;
    width: 440PX;
}
.class8{
    display: inline-block;
    color: black;
    background-color: rgb(215, 222, 20);
    text-align: center;
    height: 300PX;
    width: 440PX;
}
.class9{
    display: inline-block;
    color: black;
    background-color: rgb(215, 222, 20);
    text-align: center;
    height: 300PX;
    width: 880PX;
    margin-top: 20px;
}
.class10{
    display: inline-block;
    color: brown;
    background-color: greenyellow;
    border: 6px solid red;
    border-radius: 15px;
    height: 90px;
    width: 400px;
    position: fixed;
    bottom: 30px;
    left: 500px;
    box-shadow: 5px 5px 1px purple;
    font-style: italic;
}
.class10 h3 {
    margin-right: 50px;
   
    font-weight: bold;
    
}
.class11{
    padding-bottom: 10px;
}
.class12{
    background-color: #f08804;;
}
